* text=auto
*.css linguist-vendored
*.scss linguist-vendored
*.js linguist-vendored
.github export-ignore
.travis.yml export-ignore
.php_cs export-ignore
travis.sh export-ignore
Themes/* export-ignore
Themes/Adminlte/assets/vendor/font-awesome/fonts/fontawesome-webfont.eot export-ignore
Themes/Adminlte/assets/vendor/font-awesome/fonts/fontawesome-webfont.ttf export-ignore
